/* # Common
---------------------------------------------------------------------------------------------------- */
a, * { text-decoration: none!important; }
a:focus { box-shadow: none!important; }
a, a.btn, img, picture { color: $color-default-black; }
h2 { line-height: 1; }

body { padding-top: 55px; padding-bottom: 55px; }

/* # Header
---------------------------------------------------------------------------------------------------- */
/* Nav Menu */
.navbar {
  a { color: $color-default-white; font-size: .875rem; }
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#menu-main-menu {
  li { margin-bottom: 0;
    a {
      color: $color-default-white; 
      display: block;
      padding: .5rem 1rem;
    }
    &.current_page_item,
    &.current_page_parent {
      a {
        background-color: $color-grey-charlie; 
        border-radius: 5px;
      }
    }
  }
}

/* # Page Content
---------------------------------------------------------------------------------------------------- */
.page-content {
  margin-top: 40px;
  .page-title { font-size: 34px; }

  
  /* filter and search */
  .filter-container { margin-bottom: 15px;
    a { 
      font-size: 11px;
      letter-spacing: 0.3px;
      padding: 3.25px 5px;
      color: #7b7c7d;
      &.active, 
      &:hover {
        color: $color-default-white;
        background-color: $color-grey-charlie;
      }
    }
    #filter_wrapper {
      form {
        span#addon-filter { background-color: transparent; padding: 0 10px;
          svg { margin-right: 5px; height: 15px; }
        }
        input {
          min-width: 185px;
        }
      }
    }

    #search_wrapper {
      form {
        input {
          max-width: 170px;
        }
      }
    }

    #filter_wrapper, 
    #search_wrapper {
      form { margin-bottom: 0;
        span { font-size: 13px; color: #7b7c7d; padding: 0.5px 1px 0.5px 10px; border-right: none; background-color: $color-default-white; }
        input {
          margin-bottom: 0; color: #7b7c7d;
          max-height: 32px;
          font-size: 13px;
          border-left: none;
          &:focus {
            border-top: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;
            border-bottom: 1px solid #d1d1d1;
            box-shadow: none;
          }
          &::-webkit-input-placeholder,
          ::-moz-placeholder {
            color: #7b7c7d;
          }
        }
      }
    }

    .text-end, 
    .me-lg-auto {
      a { margin-top: -4px; }
      .btn-warning {
        background-color: #ffa22b;
        border-color: #ffa22b;
        color: $color-default-white;
        font-size: 14px;
      }
    }
  }

  /* invoices - table */
  .invoices {
    .table-wrapper {
      /*background-color: #fff;*/ box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    }

    .table > :not(:last-child) > :last-child > * {
      border-bottom: 1px solid #e1e1e1;
    }
    table { 
      // font-size: 11px; 
      // border-top: 1px solid #ccc; 
      // border-left: 1px solid #ccc;
      border-radius: 5px;
      // overflow: hidden;
      th, td {
        background-color: #fff; 
      }
      thead {
        tr {
          th { 
            font-weight: normal; 
            color: #7b7c7d; 
            font-size: 11px; 
            border-bottom: 1px solid #e1e1e1; 
            line-height: 24px;
            overflow: hidden;
            border-radius: 5px;
            &:first-child {
              padding-left: 15px;
            }
            &:last-child {
              width: 103px;
              padding-right: .5rem;
            }
            .form-check { font-size: 16px; }
          }
        }
      }
      tbody {
        tr {  
          // &:first-child { 
          //   td {
          //     padding: 5px 5px; line-height: 30px;

          //     &:first-child {
          //       .form-check {
          //         .form-check-input {
          //           height: 16px; width: 16px; margin-top: 7px; 
          //         }
          //       }
          //     }
          //     div { line-height: 24px; }
          //   }
          // }
          th {
            padding-left: 15px;
            font-size: 16px;
            .form-check {
              margin-top: 6px;
            }
          }
          td { font-weight: normal; padding: 15px 5px;
            &:first-child {
              padding-right: 12px; 
              padding-left: 10px;
            }
            &.tbl_text {
              line-height: 23px;
              font-size: 13px;
              svg {
                width: 14px;
                path {
                  fill: #ffa22b;
                }
              }
              .badge {
                font-size: 10px; font-weight: normal;
                &.bg-success {
                  background-color: #69d0a0 !important;
                }
              }
            }
            div {
              &.tbl_text { margin-left: 8px; font-size: 14px; 
                line-height: 24px;
              }
              .bd-placeholder-img {
                width: 100%;
                max-width: 24px; 
                height: 24px;
              }
            }
            .form-check { 
              .form-check-input {
                margin-left: -10px; height: 16px; width: 16px;
              }
            }
          }
          &:hover { transition: all 0.3s ease-in-out; 
            box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            transform:scale(1.03); 
            height: 100%;
            border-left: none;
            td {
              // border: none; 
              .badge {
                line-height: 11px;
              }
              .pipeline-options {
                .buttons {
                  &::before {
                    opacity: 1;
                  }
                  a {
                    &.view {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .pipeline-options {
    display: inline-block;
    float: right;
    padding-right: 60px;
    position: relative; 
    .pipeline-orders {
      width: 30px; float: left;
    }
    .buttons {
      background: rgba(250, 251, 252, 0);
      transition: all 0.1s;
      display: block;
      position: absolute;
      right: 0;
      height: 25px;
      margin: auto;
      padding-left: 0;
      &::before {
        width: 144px;
        transition: all 0.1s;
        content: "";
        height: 25px;
        margin-left: -146px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(90deg, rgba(250, 251, 252, 0) 0%, #FAFBFC 100%);
        opacity: 0;
      }
      a {
        padding: 0px 15px 0 0;
        display: inline-block;
        float: left;
        color: #354052;
        text-decoration: none;
        &.view {
          opacity: 0;
          transition: all 0.2s;
        }
      }
    }
  }

  /* pagination */
  .pagination_wrapper {
    padding-bottom: 1rem; font-size: 11px; color: #7b7c7d; margin-bottom: 15px;
    .navigation {
      .pagination {
        margin-bottom: 0;
        .page-item {
          margin-bottom: 0;
          &:hover {
            .page-link {
              z-index: 3;
              color: #fff;
              background-color: #0d6efd;
              border-color: #0d6efd;
            }
          }
          &.active {
            .page-link {
              color: #fff;
            }
          }
          .page-link {
            color: #7b7c7d;
          }
          .btn-prev {
            font-size: 13px; padding-top: 4px; padding-bottom: 5px;
          }
        }
      }
    }
  }

  /* Modal */
  #ajax_modal_content {
    font-size: 14px;
    #ajax_status {
      text-transform: uppercase;
    }
  }

  #notification {
    .alert {
      font-size: 14px; font-weight: normal;
    }
  }

}


/* # Footer
---------------------------------------------------------------------------------------------------- */
footer {
  &.site-footer {
    .copyright-trademark {
      font-size: 13px;
    }
  }
}