/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .table-responsive {
    overflow: unset;
  }
}

@media only screen and (max-width: 992px) {

  #filter_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  #filter_wrapper form {
    max-width: 270px;
  }
  #search_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .table-responsive {
    overflow: unset;
  }
  .table-wrapper {
    .table {
      thead {
        tr {
          th {
            &:nth-child(5), &:nth-child(6) {
              display: none;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(5), &:nth-child(6) {
              display: none;
            }
          }
        }
      }
    }
  }
  
  .pagination_wrapper {
    div.d-flex {
      div{
        &:first-child {
          margin-bottom: 10px;
        }
        &:last-child {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

}

@media only screen and (max-width: 768px) {
  .table-wrapper {
    .table {
      thead {
        tr {
          th {
            &:nth-child(8), &:nth-child(9) {
              display: none;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(8), &:nth-child(9) {
              display: none;
            }
          }
        }
      }
    }
  }
}