
@include media($screen--xl) {
  .container { @include wrap(); }
}

/* min-width 992px */
@include media(992px) {
  .container { @include wrap(960px); }
  ul.navbar-nav {
    li { padding: 0 20px;
      a { font-size: 14px; }
    }
  }
  #boxes_with_ctas, #blog-section {
    .d-flex, .container > .d-flex.services { display: flex!important;
      .box-wrapper.middle { margin-left: 30px!important; margin-right: 30px!important; }
    }
  }
  #boxes_with_ctas.products_list .products {
    @include wrap(960px);
  }
  #blog-section {
    .container > .d-flex.position-relative { display: flex!important;
      .box-wrapper.middle { margin-left: 30px!important; margin-right: 30px!important; }
    }
  }

  #column_grids {
    .img-wrapper:nth-child(2n) {
      // margin-left: 120px;
      // margin-right: 120px;
    }
  }

  .slides-container {
    max-height: 321px;
  }

  .right-wrapper {
    .img-wrap { margin-top: 0!important; margin-left: 0!important; margin-bottom: 0!important}
    .text-wrap { margin-right: 30px!important; margin-left: auto!important; margin-bottom: 0!important}
  }

  #boxes_with_ctas {
    .box-wrapper.first, .box-wrapper.last, .box-wrapper.middle  { margin-bottom: 30px!important; margin-left: 30px!important; margin-right: 30px!important; }
    .box-wrapper.first, .box-wrapper.last  { margin-right: 0!important; margin-left: 0!important;  }
  }
}

/* min-width 768px */

@include media(768px) {
  .container { @include wrap(720px); }

  .navbar-expand-md { flex-flow: row nowrap; justify-content: flex-start; }
  .navbar-expand-md .navbar-toggler { display: none; }
  .navbar-expand-md .navbar-collapse { display: flex!important; flex-basis: auto; }
  .navbar-expand-md .navbar-nav { flex-direction: row; }
  ul.navbar-nav { color: $color-default-white;
    li { margin-bottom: 0; padding: 0 12px;
      a { font-size: 12px; }
    }

    li:first-child,
    li:last-child { padding-left: 0; padding-right: 0; }
  }

  .header-socials-wrapper { display: block; margin-bottom: 15px; }
  .navbar-toggler { float: unset; }
  .navbar-toggler { margin: 0; }

  // .img-wrapper:nth-child(2n) { margin-left: 30px; margin-right: 30px; }

  .left-wrapper.d-flex, .right-wrapper.d-flex {
    display: flex!important;
  }
  .box-col.text-wrap { margin-left: 30px!important; }

  #left_vertical_slides .swiper-container-vertical>.swiper-pagination-bullets { top: 50%; }
  #boxes_with_ctas.products_list .products {

    @include wrap(720px);
  }
  .slides-container {
    margin-bottom: 0;
  }

  .right-wrapper {
    .img-wrap { margin-top: 0!important; margin-left: 0!important; margin-bottom: 0!important}
    .text-wrap { margin-right: 30px!important; margin-left: 0!important; margin-bottom: 0!important}
  }

  #boxes_with_ctas {
    .d-flex { max-width: none!important; }
    .box-wrapper.first, .box-wrapper.last, .box-wrapper.middle  { margin-bottom: 30px!important; margin-left: 30px!important; margin-right: 0!important; }
  }

  .tabs { display: flex!important; }
  .swiper-button-next, .swiper-button-prev { bottom: unset!important; top: 50%; }

  .col {
    .row { display: flex; justify-content: center;
      // .img-wrapper:first-child { margin-left: 0; margin-right: 30px; }
      // .img-wrapper:last-child { margin-left: 30px; margin-right: 0; }
    }
  }

  #values, #facility_elements {
    .row {
      .img-wrapper { width: 100%; max-width: 300px; margin-bottom: 30px; margin-right: 30px; display: inline-block; }
      .img-wrapper.last { margin-right: 0; }
    }
  }

  #column_grids {
    .d-flex {
      .img-wrapper { margin-right: 30px!important; }
    }
  }

  #benefits {
    .swiper-button-next, .swiper-button-prev { top: 50%; }
  }
  #right_content {
    .right-wrapper {
      .box-col.text-wrap { max-width: 368px; }
    }
  }

}

/* min-width 576px */
@include media(576px) {
  .container { @include wrap(540px); padding-left: 0; padding-right: 0; }
  .navbar-toggler { margin: -83px 0 0 0; }
  .page-banner-content-wrapper {
    .entry-content {
      h2 { font-size: 68px; line-height: .9; }
    }
  }

  #column_grids {
    .d-flex { display: flex!important; }
  }
}



/* min-width 320px */
@include media(320px) {
  .container { padding-left: 15px; padding-right: 15px; }
  .navbar-toggler { margin: -83px 0 0 0; }
  .page-banner-content-wrapper {
    .entry-content {
      h2 { font-size: 37px; line-height: 1; }
    }
  }

  .tabs { margin-bottom: 50px; display: none!important; }

  #boxes_with_ctas.products_list .products {
    @include wrap(300px);
  }
  #column_grids {
    .d-flex { display: block!important;
      .img-wrapper { margin-right: 0!important; }
    }
  }
  #boxes_with_ctas {
    .d-flex { display: block!important; max-width: 300px; margin: 0 auto;
      .box-wrapper.first, .box-wrapper.last, .box-wrapper.middle { margin-left: 0!important; margin-right: 0!important; }
    }
    .box-wrapper.first, .box-wrapper.last, .box-wrapper.middle { margin-left: 0!important; margin-right: 0!important; }
  }

  #blog-section, #boxes_with_ctas {
    .container > .d-flex.position-relative,
    .container > .services { display: block!important; max-width: 300px!important; margin: 0 auto;
      .box-wrapper.middle { margin-left: 0!important; margin-right: 0!important; }
    }
  }

  // .img-wrapper:nth-child(2n) {
  //   margin-left: 20px;
  //   margin-right: 20px;
  // }

  .slides-container {
    max-height: 255px; margin-bottom: 30px;
    .swiper-pagination-bullet { background: #d2d2d2; opacity: .5; }
    .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #ff9e18; opacity: 1; }
  }

  .left-wrapper.d-flex, .right-wrapper.d-flex {
    display: block!important;
  }

  .box-col.text-wrap { margin-left: 0!important; }

  #left_vertical_slides .swiper-container-vertical>.swiper-pagination-bullets { top: 25%; }

  .right-wrapper {
    .text-wrap { margin-bottom: 30px!important}
    .img-wrap { margin-left: 0!important; margin-bottom: 0!important}
  }

  #benefits {
    .swiper-button-next, .swiper-button-prev { bottom: 10%!important; top: 83%; }
  }

  #values, #facility_elements {
    .row {
      .img-wrapper { margin-bottom: 30px; margin-right: 0; }
      .img-wrapper.last { margin-right: 0; }
    }
  }

  #right_content {
    .right-wrapper {
      .box-col.text-wrap { max-width: 100%; }
    }
  }
}
