
@include media($screen--xl) {
  .container { @include wrap(); }
}

/* min-width 992px */
@include media(992px) {
  .container { @include wrap(960px); }
  ul.navbar-nav {
    li {
      a { padding: 0 15px; font-size: 14px; }
    }
  }
}



/* min-width 768px */
@include media(768px) {
  .container { @include wrap(720px); }

  .navbar-expand-md { flex-flow: row nowrap; justify-content: flex-start; }
  .navbar-expand-md .navbar-toggler { display: none; }
  .navbar-expand-md .navbar-collapse { display: flex!important; flex-basis: auto; }
  .navbar-expand-md .navbar-nav { flex-direction: row; }
  ul.navbar-nav { color: $color-default-white;
    li { margin-bottom: 0;
      a { padding: 0 6px; font-size: 12px; }
    }

    li:first-child a { padding-left: 0; }
    li:last-child a { padding-right: 0; }
  }

  .header-socials-wrapper { display: block; }
  .navbar-toggler { float: unset; }
  .navbar-toggler { margin: 0; }
  // #btn_toggler_menu_wrapper { margin-top: 0; }
}

/* min-width 576px */
@include media(576px) {
  .container { @include wrap(540px); padding-left: 0; padding-right: 0; }
  .navbar-toggler { margin: -83px 0 0 0; }
  .home-page-banner-content-wrapper {
    .entry-content {
      h2 { font-size: 68px; }
    }
  }
}



/* min-width 320px */
@include media(320px) {
  .container { padding-left: 15px; padding-right: 15px; }
  .navbar-toggler { margin: -83px 0 0 0; }
  .home-page-banner-content-wrapper {
    .entry-content {
      h2 { font-size: 37px; }
    }
  }
}
